@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('../fonts/NanumSquareRoundR.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../fonts/NanumSquareRoundL.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFR';
  src: url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFB';
  src: url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFEB';
  src: url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFL';
  src: url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* 파셜산스체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 샌드박스 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 구미산업체 */
@font-face {
    font-family: 'GumiIndustryTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiIndustryTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 여기어때 잘난체 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
  background-color: white;;
  align-items: center;
  font-family: 'SUIT-Regular', sans-serif;
  width: 100%; 
  margin: 0 auto; /* 가로 방향으로 가운데 정렬 */
}


.clause {
  width: 100%;
  height: auto; /* 높이 설정 */
  display: flex; /* 플렉스 박스 사용 */
  flex-direction: column;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  font-family: 'SUIT-Regular', sans-serif;
  
}

.c_section-container {
  position: sticky;
  top: 0;
  text-align: center; /* 컨텐츠 가운데 정렬 */
  background-color: white;;
  padding: 5px 0;
  z-index: 20;
  margin: 0 auto;
  width: 100%;

}

.c_navbar {
  display: flex; /* 플렉스 박스로 정렬 */
  justify-content: center; /* 항목을 가운데 정렬 */
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  margin: 10px auto;
  width: 100%;
}

.c_nav-item {
  padding: 10px 50px; /* 상하, 좌우 패딩 */
  position: relative; /* 밑줄을 위한 위치 설정 */
}

.c_nav-item a {
  text-decoration: none; /* 기본 링크 밑줄 제거 */
  color: black; /* 기본 텍스트 색상 */
  font-weight: normal;
  font-size: 16px;
}

.c_nav-item a:hover {
	color:#007BFF;
}

.c_nav-item.active a {
  font-weight: bold; /* 활성화된 탭 굵게 표시 */
  color: #333; /* 활성화된 탭 색상 */
}

.c_nav-item:not(:last-child) {
  border-right: 1px solid #aaa; /* 각 탭 사이 구분선 */
  
}


.introimg {
  width: 100%;
  height: 300px; /* 높이 설정 */
  background-size: contain; /* 배경 이미지 크기를 컨테이너에 맞춤 */
  background-position: center; /* 배경 이미지 중앙 정렬 */
  background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
  background-color: #f7EBDD;
  /*opacity: 0.8;*/
  display: flex; /* 플렉스 박스 사용 */
  flex-direction: column;
  justify-content: center; /* 가로 방향 중앙 정렬 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  text-align: center; /* 텍스트 중앙 정렬 */
  
}

.introimg h2 {
  color: black;
  margin: 0; /* 상하 여백 제거 */
  font-family: 'Paperlogy-8ExtraBold', sans-serif;
  

}

.introimg h1 {
	color: black;
	font-size: 48px;
	font-family: 'Paperlogy-8ExtraBold', sans-serif;
	
}

.clause_text {
  text-align: left;
  margin-bottom: 15px;
  padding: 20px; /* 내부 여백 추가 */
  
}

.clause_text p {
  margin: 20px auto; /* 상하 여백을 추가하고, 좌우는 자동으로 정렬 */
  line-height: 1.5; /* 줄 간격 조정 */
  max-width:100%;
  font-family: 'SUIT-Regular', sans-serif;
  
}

.third-party_text {
	text-align: left;
    margin: 50px auto;
    padding: 20px;
    
}

.marketing_text {
	text-align: left;
    margin: 50px auto;
    padding: 20px;
    
	
}