@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('../fonts/NanumSquareRoundR.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../fonts/NanumSquareRoundL.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFR';
  src: url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFB';
  src: url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFEB';
  src: url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFL';
  src: url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


/* 전체적인 헤더 스타일 */
header {
    background-color: #a4ed44; /* 밝은 연두색 배경 */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-family: 'NanumSquareRoundR', sans-serif;
    height: 80px; /* 헤더 높이를 설정하여 검색 바가 이 아래에서 나오도록 설정 */
}

.header-container {
  display: flex;
  justify-content: space-between; /* flex-grow를 space-between으로 변경 */
  align-items: center;
  width: 100%;
  font-size: 14px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 120;
}

/* 로고 스타일 */
.logo {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    left: 20px;
    text-decoration: none;
}

.logo a {
  text-decoration: none;
  color: black;
}



/* 네비게이션 스타일 */

nav {
  width: 50%;
  margin-left: 15%
}

nav ul {
    list-style: none;
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-left: 20%;
    width: 400px;

}

nav ul li {
    display: inline;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.member{
  gap: 20px;
  display: flex;
  align-items: center; /* 사용자 이름과 버튼 정렬 */
  margin-right: 30px;
  

}

.member span {
  text-decoration: none;
  color: black;
  font-size: 16px;

}

.member span a {
  text-decoration: none;
  color: black;
  font-size: 16px;

}

.member button {
  text-decoration: none;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: 'NanumSquareRoundR', sans-serif;
  
}

.welcome {
  font-size: 12px;
  position: absolute;
  right:20%;
  
}