@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('../fonts/NanumSquareRoundR.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../fonts/NanumSquareRoundL.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFR';
  src: url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFB';
  src: url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFEB';
  src: url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFL';
  src: url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* 파셜산스체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 샌드박스 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 구미산업체 */
@font-face {
    font-family: 'GumiIndustryTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiIndustryTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* G마켓 산스 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* 여기어때 잘난체 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Pretendard */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}



/* 전체적인 헤더 스타일 */
header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-family: 'NanumSquareRoundR', sans-serif;
    height: 80px; /* 헤더 높이를 설정하여 검색 바가 이 아래에서 나오도록 설정 */
    transition: background-color 0.8s ease;
    
}

.header-container {
  display: flex;
  justify-content: space-between; /* flex-grow를 space-between으로 변경 */
  align-items: center;
  width: 100%;
  font-size: 14px;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 120;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
}

/* 로고 스타일 */
.logo {
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 1px 0px black;
    position: absolute;
    left: 20px;
    text-decoration: none;
    font-family: 'yg-jalnan';
}

.logo a {
  text-decoration: none;
  color: black;
}



/* 네비게이션 스타일 */

nav {
  width: 50%;
  margin-left: 15%
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-left: 18%;
    width: auto;

}

nav ul li {
    display: inline;
    font-size: 16px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.member{
  gap: 20px;
  display: flex;
  align-items: center; /* 사용자 이름과 버튼 정렬 */
  margin-right: 30px;
  

}

.member span {
  text-decoration: none;
  color: black;
  font-size: 16px;

}

.member span a {
  text-decoration: none;
  color: black;
  font-size: 16px;

}

.member button {
  text-decoration: none;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Pretendard-Regular';
  font-weight: 700;
  
}

.welcome {
  font-size: 12px;
  position: absolute;
  right:20%;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
  
}

.userprofile img {
	width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
	
}