@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('../fonts/NanumSquareRoundR.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../fonts/NanumSquareRoundL.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFR';
  src: url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFB';
  src: url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFEB';
  src: url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFL';
  src: url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 샌드박스 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 파셜산스체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: white;;
  background-color: white;;
  align-items: center;
  font-family: 'NanumSquareRoundR', sans-serif;
  width: 100%; 
  margin: 0 auto; /* 가로 방향으로 가운데 정렬 */
}



html {
  scroll-behavior: smooth;
}


.h_minibody{
  width: 60%;
  margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 너비 계산 */
  
}

.h_title-container {
  margin-top: 7%;
  width: 100%;
  height: 200px;
  background-color: white;
  text-align: center;
}

.h_title-container h2 {
  font-size: 50px;
  font-family: 'SBAggroB', sans-serif;
}

.h_title-container h3 {
  font-size: 18px;
  color: #666;
  font-family: 'SBAggroB', sans-serif;
}

.h_title-container h4 {
  font-size: 18px;
  display: inline-block; /* 텍스트 크기에 맞추기 위해 설정 */
  padding-bottom: 3px; /* 아래쪽에 공간을 주기 위해 패딩 추가 */
  background-color: rgb(198, 238, 250); /* 배경색 설정 */
  background-position: 0 100%; /* 배경 위치를 아래쪽으로 설정 */
  background-repeat: no-repeat; /* 배경 반복을 방지 */
  background-size: 30% 7px; /* 배경 크기를 글자 너비에 맞추고 높이는 6px로 설정 */
}

.h_icons {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 30px;
}

.h_button, .f_button, .s_button {
  position: absolute; /* 각 버튼을 절대 위치로 설정 */
  transform: translateY(-50%); /* 가운데 맞추기 위해 50% 이동 */
  background-color: transparent; /* 버튼 배경 투명 */
  border: none; /* 버튼 테두리 제거 */
  cursor: pointer; /* 마우스 커서가 버튼 위에 있을 때 손 모양으로 변경 */
}

.h_button {
  left: 20%; /* 왼쪽에서 20% 위치에 배치 */
}

.f_button {
  right: 23%; /* 오른쪽에서 30% 위치에 배치 */
}

.s_button {
  right: 20%; /* 오른쪽에서 20% 위치에 배치 */
}

.h_button:hover, .f_button:hover, .s_button:hover {
  opacity: 0.5; /* 마우스 오버 시 약간 투명하게 */
}

/* 어두운 배경 (팝업이 나타날 때 활성화) */
.overlay {
    display: none; /* 기본적으로 숨김 */
    position: fixed; /* 화면 전체를 덮도록 fixed로 설정 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1999; /* 모든 요소보다 높은 z-index 설정 */
}

/* 공유 팝업 스타일링 */
.share-popup {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2000; /* 오버레이보다 더 높은 z-index 설정 */
    width: 300px;
    font-family: 'SUIT-Regular', sans-serif;
}

.share-popup-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: 'SUIT-Regular', sans-serif;
}


.share-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'SUIT-Regular', sans-serif;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.share-options {
    display: flex;
    gap: 15px;
    justify-content: space-around;
    font-size: 11px;

}

.share-options span {
	margin-top: 5px;
	
	
}
.share-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.share-option img {
    width: 40px;
    height: 40px;
}

.share-url {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'SUIT-Regular', sans-serif;
}

.share-url input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'SUIT-Regular', sans-serif;
}

.share-url button {
    padding: 8px 15px;
  	background-color: #276BF2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	font-family: 'SUIT-Regular', sans-serif;    
}




.h_section-container {
  position: sticky;
  top: 0;
  width: 100%; /* 부모 컨테이너 너비 */
  text-align: center; /* 컨텐츠 가운데 정렬 */
  border-bottom: 2px solid #8E8E8E; /* 하단 구분선 */
  border-top: 2px solid #8E8E8E; /* 상단 구분선 추가 */
  background-color: white;;
  background-color: white;;
  padding: 5px 0;
  z-index: 20;

}

.h_navbar {
  display: flex; /* 플렉스 박스로 정렬 */
  justify-content: center; /* 항목을 가운데 정렬 */
  list-style-type: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
  font-family: 'SUIT-Regular', sans-serif;
}

.h_nav-item {
  padding: 10px 50px; /* 상하, 좌우 패딩 */
  position: relative; /* 밑줄을 위한 위치 설정 */
}

.h_nav-item a {
  text-decoration: none; /* 기본 링크 밑줄 제거 */
  color: black; /* 기본 텍스트 색상 */
  font-weight: normal;
  font-size: 16px;
}

.h_nav-item.active a {
  font-weight: bold; /* 활성화된 탭 굵게 표시 */
  color: #333; /* 활성화된 탭 색상 */
}

.h_nav-item.active::after {
  content: ''; /* 가상 요소로 밑줄 추가 */
  display: block;
  width: 100%; /* 밑줄 너비 */
  height: 2px; /* 밑줄 높이 */
  background-color: black; /* 밑줄 색상 */
  margin: 5px auto 0 auto; /* 가운데 정렬 */
}

.h_nav-item:not(:last-child) {
  border-right: 1px solid #aaa; /* 각 탭 사이 구분선 */
  
}

.h_nav-item a:hover {
  color: #000; /* 마우스 오버 시 텍스트 색상 변경 */
}

.h_content {
  text-align: center;
  position: relative;
  height: 850px;
  margin: 10px auto;

}

.h_details_title {
  margin: 30px auto;
  width: 100%; /* 부모 컨테이너 너비 */
  border-bottom: 2px solid black; /* 하단 구분선 */
  font-size: 30px;
  font-weight: bold;
  font-family: 'Paperlogy-8ExtraBold', sans-serif;
}

.h_details p {
	font-size: 18px;
	line-height: 1.5;
	font-family: 'SUIT-Regular', sans-serif;
	
}

.h_details {
  margin: 10px auto;
  width: 100%; /* 부모 컨테이너 너비 */
  font-size: 16px;
  line-height: 1.5;
}

.h_details_more {
  margin-top: 20px;
  cursor: pointer; /* 마우스 커서가 버튼 위에 있을 때 손 모양으로 변경 */
  border: none; /* 버튼 테두리 제거 */
  width: auto;

}

.h_map {
  margin: 0 auto;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

/* 구글 맵 */
.google_map {
  width: 100%;
  margin: 0 auto;
}

.h_talk {
  margin: 10px auto;
  width: 100%;

}

.h_talk h2 {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.h_talk h2 span {
  font-size: 18px;
  color: #007bff;
  margin-left: 10px;
}

.comment-form {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  font-family: 'SUIT-Regular', sans-serif;
}

.comment-form textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  resize: none;
  font-family: 'SUIT-Regular', sans-serif;
  
}

.form-actions {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
}

.upload-button {
  border: none;
  cursor: pointer;
  background-color: #f9f9f9;
}

.upload-button img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.comments-section {
  margin-top: 20px;
}

.comment {
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.date {
  color: #999;
  width: 150px;
}

.comment-actions {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  display: flex;
  justify-content: flex-end;
}


.edit-comment-text {
  width: 98%;             /* 너비 100%로 설정하여 컨테이너에 맞게 늘림 */
  height: 60px;           /* 기본 높이 설정 */
  padding: 10px;
  border: none;            /* 테두리 제거 */
  outline: none;           /* 포커스 시 생기는 아웃라인 제거 */
  font-size: 16px;         /* 폰트 크기 설정 */
  resize: none;            /* 사용자가 크기를 조절하지 못하도록 설정 */
  background-color: #f9f9f9; /* 배경색 설정 */
  border-radius: 8px;      /* 둥근 모서리 설정 */
  font-family: 'NanumSquareRoundR', sans-serif !important;
  margin-top: 10px;
}

/* 스크롤 숨기기
.edit-comment-text::-webkit-scrollbar {
	display:none;
}

*/

.edit-comment-text {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 포커스 시 그림자 강조 */
  background-color: #fff;  /* 포커스 시 배경색을 하얗게 변경 */
  font-family: 'NanumSquareRoundR', sans-serif !important;
  
}

.delbtn {
  border: none;
  color: red;
  cursor: pointer;
  font-size: 13px;
  font-family: 'NanumSquareRoundR', sans-serif !important;
  background-color: white;
  background-color: white;
  
}

.editbtn {
	border: none;
	color: blue;
	cursor: pointer;
	font-size: 13px;
	font-family: 'NanumSquareRoundR', sans-serif !important;
  background-color: white;

  background-color: white;

	
	
}

.savebtn {
	border: none;
	color: blue;
	cursor: pointer;
	font-size: 13px;
	font-family: 'NanumSquareRoundR', sans-serif !important;
  background-color: white;

  background-color: white;

	
	
}

.cancelbtn {
	border: none;
	color: red;
	cursor: pointer;
	font-size: 13px;
	font-family: 'NanumSquareRoundR', sans-serif !important;
  background-color: white;

  background-color: white;

	
	
}

.comment-actions span {
  margin-right: 20px;
  
}

.more-comments {
  text-align: center;
  margin-top: 20px;
}

.more-comments a {
  text-decoration: none;
  color: #007bff;
}

#section-photos,
#section-details,
#section-talk,
#section-recommend {
  scroll-margin-top: 60px; /* 네비게이션 바 높이에 맞게 조정 */
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 커스텀 내비게이션 버튼 스타일 */
.custom-next-button,
.custom-prev-button {
  position: absolute; /* 위치를 고정하여 슬라이더 위에 표시 */
  top: 50%; /* 슬라이더의 세로 가운데 위치 */
  transform: translateY(-50%); /* 세로 가운데 정렬 */
  background-color: transparent; /* 배경색을 투명하게 설정 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 마우스 커서를 손 모양으로 변경 */
  z-index: 10; /* 슬라이더 위에 표시되도록 z-index 설정 */
}

.custom-next-button {
  right: 10px; /* 오른쪽 끝에 배치 */
}

.custom-prev-button {
  left: 10px; /* 왼쪽 끝에 배치 */
}

.custom-next-button img,
.custom-prev-button img {
  width: 50px; /* 이미지 너비 설정 */
  height: 50px; /* 이미지 높이 설정 */
  opacity: 0.7;
}

.custom-marker {
    position: absolute;
    width: 80px;
    height: 80px;
    background: white; /* 흰색 배경 */
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); /* 그림자 추가 */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -145%); /* 위치 조정 (기본 빨간 마커 위에 겹치도록) */
    padding: 5px; /* 마커와 이미지 간의 여백 */
}

.marker-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px; /* 이미지에도 둥근 모서리 적용 */
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    text-decoration: none;
}

.pagination a,
.pagination .pagination-link {
    padding: 5px 10px;
    color: black;
    border-radius: 5px;
    border: none; /* 버튼의 기본 테두리 제거 */
    text-decoration: none;
    font-family: 'NanumSquareRoundR', sans-serif;
    font-size: 18px;
    cursor: pointer;
    

    
}

.pagination a:hover,
.pagination .pagination-link:hover {
    text-decoration: none;
    font-family: 'NanumSquareRoundR', sans-serif;
    color: #276BF2;
    

}

.pagination .current-page {
    padding: 5px 10px;
    color: #276BF2;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'NanumSquareRoundR', sans-serif;
    font-size: 18px;
    cursor: pointer;
    
}


/* 하단 여행지 배너 슬라이드 */
/* 배너 슬라이드 스타일 */
#banner-slider {
  width: 100%;
  padding-bottom: 50px;
}

#banner-slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px; /* 슬라이드의 너비 */
  height: 300px; /* 슬라이드의 높이 */
}

#banner-slider .swiper-slide img {
  display: block;
  width: 100%;
  height: 300px;
  border-radius: 15px;
}

/* Pagination 스타일 */
.swiper-pagination {
  bottom: 10px;
  text-align: center;
}


.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #8E8E8E;
  opacity: 0.8;
}

.swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
}

/* 네비게이션 버튼 스타일 */
.swiper-button-next,
.swiper-button-prev {
  color: #007aff;
  width: 44px;
  height: 44px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 24px;
}

/* 슬라이드 이미지 아래에 배치되는 제목 스타일 */
.banner-title {
    text-align: center;  /* 제목을 가운데 정렬 */
    font-size: 16px;     /* 제목의 크기 조정 */
    margin-top: 10px;    /* 이미지와 제목 사이 간격 */
    color: black;         /* 텍스트 색상 */
    font-weight: bold;   /* 굵은 글씨 */
 	text-decoration: none; /* 기본 링크 밑줄 제거 */
    
}


.detail-link {
	text-decoration: none; /* 기본 링크 밑줄 제거 */
	color: black;
}

.detail-link a {
  	text-decoration: none; /* 기본 링크 밑줄 제거 */
	color: black;
}


/* 날씨 그래프 스타일 */
.weather-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 20px auto;
}

/* 시간별 날씨 상태 아이콘과 온도 */
.weather-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.weather-row div {
  text-align: center;
  margin: 0 10px;
}

/* 날씨 아이콘 스타일 */
.weather-icon {
  width: 28px;
  height: 28px;
}

/* 그래프 캔버스 스타일 */
#weatherChart {
  width: 100%;
  height: 300px;
}

/* 전체 영역 */
.weather_area {
  width: 100%;
  box-sizing: border-box;
  font-family: 'SUIT-Regular', sans-serif;
}

/* 상단 메뉴바 */
.weather_tag {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px;
  font-weight: bold;
}

.weather_tag span {
  flex: 1;
  text-align: center;
}

/* 전체 weather_info 영역 */
.weather_info {
    position: relative; /* 캔버스를 배경으로 사용하기 위해 */
    margin-top: 20px;
    width: 100%;
    overflow-y: hidden;
}

.weather_info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow-x: hidden;
}

.weather_info li {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  position: relative;
}



/* 온도 구역 */
.weather_info .temp {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  
}

/* 아이콘 구역 */
.weather_info .icon img {
  width: 35px;
  height: 35px;
}

/* 시간 구역 */
.weather_info .time {
  font-size: 15px;
  color: black;
}

/* 날짜 구역 */
.weather_info .date {
  font-size: 12px;
  color: #888;
  font-family: 'SBAggroB', sans-serif;
  
}

/* 점 위치 설정 */
.temperature-list .dot {
  width: 5px;
  height: 5px;
  background-color: #ccc;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top:9px;
}

.temperature-list .day {
	font-family: 'Paperlogy-8ExtraBold';
	font-size: 16px;
}



/* ul 및 li 리스트 스타일 */
.temperature-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: max-content;
    position: realative;
    overflow-x: auto;  /* 가로 스크롤을 허용 */
    scroll-behavior: smooth;  /* 스크롤 애니메이션을 부드럽게 */
}

.temperature-list li {
    text-align: center;
    flex: 1;
    margin: -10px 5px;
    position: relative;
    main-width: 120px;
    align-items: center;
}

/* 좌우 버튼 스타일 */
.slide-button {
    position: absolute;
    top: 50%; /* 중앙에 위치시키기 */
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8); /* 반투명 배경 */
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 20;
    background-color: transparent;
}

.slide-button img {
	width: 28px;
	height: 28px;
	opacity: 0.8;
}

.slide-button img:hover {
	opacity: 1;
}


#prevButton {
    left: 0;
    background-color: transparent;
}

#nextButton {
    right: 0;
    background-color: transparent;

}

.temperature-container {
	position: relative;
	width: 100%;
	overflow: hidden;
	overflow-y: hidden;
}


