/* 파셜산스체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 샌드박스 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 구미산업체 */
@font-face {
    font-family: 'GumiIndustryTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiIndustryTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 여기어때 잘난체 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 보배섬진도체 */
@font-face {
    font-family: 'BobaesumJindoTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/BobaesumJindoTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 카페24 써라운드 */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 이누라이두리네 */
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 프리젠테이션 */
@font-face {
    font-family: 'Freesentation-9Black';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    margin: 0 auto;
}
/* 회원가입 폼 전체 컨테이너 */
.joinmain-form-container {
  display: flex;
  flex-direction: column; /* 세로로 요소를 정렬합니다. */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 50px auto 120px auto; /* 폼 전체를 300px 아래로 이동 */
  padding: 20px;
  box-sizing: border-box;
}

/* 회원가입 페이지 제목 스타일 */
.bbol-login-title {
  font-size: 31px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px; /* 폼과 제목 사이 간격 조정 */
  color: black;
   line-height: 1.5;
 	font-family: 'Pretendard-Regular';
}

h3.bbol-login-title span {
    font-family: 'yg-jalnan';
}

/* 회원가입 폼 전체 스타일 */
.joinmain-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  box-sizing: border-box;
}




.kakao-button {
  width: 100%;
  max-width: 370px; /* 이메일 버튼과 동일한 크기로 설정 */
  padding: 0; /* 내부 여백 제거 */
  background-color: transparent;
  border: none; /* 테두리 제거 */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; /* 이메일 버튼과 동일한 간격 */
  box-sizing: border-box;
}

.kakao-button img {
  width: 100%;
  max-width: 370px; /* 이메일 버튼과 동일한 크기 */
  height: auto;
  display: block; /* 이미지가 블록으로 취급되도록 설정 */
}

/* 이메일 가입 버튼 스타일 */
.email-button {
  width: 100%;
  max-width: 370px; /* 카카오 버튼과 동일한 크기로 설정 */
  padding: 15px;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 40px;
  outline: none;
  box-sizing: border-box;
}

.email-button:hover {
  background-color: #f0f0f0;
}

/* 또는 옆에 실선을 위한 CSS */
.join-divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 30px 0; /* "또는"을 좀 더 아래로 */
  width: 100%;
  max-width: 370px;
}

.join-divider::before,
.join-divider::after {
  content: '';
  flex-grow: 1;
  border-bottom: 1px solid #ccc; /* 실선 색상 */
}

.join-divider:not(:empty)::before {
  margin-right: 10px; /* 텍스트와 실선 사이 여백 */
}

.join-divider:not(:empty)::after {
  margin-left: 10px; /* 텍스트와 실선 사이 여백 */
}

.join-divider span {
  font-size: 14px; /* 텍스트 크기 */
  font-family: 'Freesentation-9Black';
  font-weight: 100px;
  color: #999; /* 텍스트 색상 */
}

/* SNS 버튼 스타일 */
.sns-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sns-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0 15px;
  outline: none; /* 테두리 제거 */
}

.sns-buttons img {
  width: 50px;  /* 네모 형태로 설정 */
  height: 50px;
  border-radius: 0%; /* 둥근 모서리 제거 */
}

/* 로그인 문구 스타일 */
.login-prompt {
  font-size: 14px;
  font-family: 'Freesentation-9Black';
  font-weight: 100px;
  color: #666;
  margin-top: 40px;
  text-align: center; /* 가운데 정렬 */
}

.login-prompt span {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none; 
}

.login-prompt span:hover {
  text-decoration: underline;
}
.login-prompt a{
	text-decoration: none; 
}

