table {
    width: 100%; /* 표 너비를 100%로 설정 */
    border-collapse: collapse; /* 테두리 겹침 방지 */
}

th, td {
    border: 1px solid #ccc; /* 테두리 색상 */
    padding: 8px; /* 셀 내부 여백 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

th {
    background-color: #f2f2f2; /* 헤더 배경 색상 */
}

ul {
	list-style: none;
}