@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../fonts/NanumSquareRoundB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  src: url('../fonts/NanumSquareRoundEB.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundR';
  src: url('../fonts/NanumSquareRoundR.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundL';
  src: url('../fonts/NanumSquareRoundL.ttf') format('truetype'),
       url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFR';
  src: url('../fonts/NanumSquareRoundOTFR.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFB';
  src: url('../fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFEB';
  src: url('../fonts/NanumSquareRoundOTFEB.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareRoundOTFL';
  src: url('../fonts/NanumSquareRoundOTFL.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}


/* 파셜산스체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 샌드박스 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 구미산업체 */
@font-face {
    font-family: 'GumiIndustryTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiIndustryTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 여기어때 잘난체 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	  font-family: 'SUIT-Regular', sans-serif;
}

h1 {
	font-family: 'Paperlogy-8ExtraBold', sans-serif;
}

h2 {
	font-family: 'Paperlogy-8ExtraBold', sans-serif;
}

.searchContentId {
	font-family: 'Paperlogy-8ExtraBold', sans-serif;
	
}

/* container 스타일 */
.resultcontainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  font-family: 'SUIT-Regular', sans-serif;
}

/* 리스트 정렬 */
ul {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 20px; /* 아이템 간 간격 */
}

/* 각 항목의 스타일 */
li {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 calc(23% - 20px);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    background-color: #f9f9f9;
    height: 700px; /* 모든 박스의 높이를 600px로 고정 */
    overflow: hidden; /* 내용이 넘칠 경우 숨김 */
    font-family: 'SUIT-Regular', sans-serif;
    
    
    
}

li .content {
    flex-grow: 1; /* 콘텐츠 영역을 늘려서 균형 있게 정렬 */
}

/* 이미지 스타일 */
li img {
    width: 30%;
    height: 100px;
    border-radius: 5px;
}

/* 제목 및 기타 정보 스타일 */
li p, li h2 {
    margin: 10px 0;
    
}

/* 제목 스타일 */
li h2 {
    font-weight: bold;
    font-size: 18px;
}


li p.overview {
    height: 300px; /* 최대 높이를 지정하여 텍스트가 일정하게 보이도록 제한 */
    overflow: auto;
    padding-right: 10px; /* 스크롤바와 텍스트 사이의 공간 확보 */
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 15px; /* 폰트 크기 조정 */
    line-height: 1.5; /* 글씨 높낮이 */
    font-family: 'SUIT-Regular', sans-serif;
    
}



/* 기본 스타일 - 체크박스를 감싸는 라벨 부분 */
.check {
    align-items: center;
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능한 부분임을 나타냄 */
    border-radius: 5px; /* 라벨의 모서리를 둥글게 만듦 */
    transition: background-color 0.3s ease; /* 배경색 변화에 애니메이션 효과 추가 */
}

/* 호버 효과 - 라벨에 마우스를 올렸을 때 */
.check:hover {
    color: #04BF20; /* 텍스트 색을 변경 */
}

.back-button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #04BF20; /* 버튼 배경색 설정 */
    color: #fff; /* 버튼 텍스트 색상 설정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 시 색상 변경 애니메이션 */
	font-family: 'SUIT-Regular', sans-serif;
    margin-bottom: 10px;
}

.back-button:hover {
    background-color: #028a15; /* 호버 시 색상 변경 */
}

#selectedContentIds {
    width: calc(100% - 20px); /* 입력 폼의 너비를 늘려서 100% - padding 간격으로 맞춤 */
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px; /* 폼과 버튼 사이의 간격 추가 */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 너비 계산을 위해 box-sizing 설정 */
    font-family: 'SUIT-Regular', sans-serif;
    
}

/* 버튼의 스타일 */
button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #04BF20; /* 버튼 배경색을 설정 */
    color: #fff; /* 버튼 텍스트 색을 하얀색으로 설정 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 시 배경색 변화 애니메이션 */
    font-family: 'SUIT-Regular', sans-serif;
    
}

/* 버튼 호버 효과 */
button[type="submit"]:hover {
    background-color: #028a15; /* 버튼 호버 시 색상 변경 */
    font-family: 'SUIT-Regular', sans-serif;
    
}

