/* 파셜산스체 */
@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 수트체 */
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 샌드박스 어그로체 */
@font-face {
    font-family: 'SBAggroB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 구미산업체 */
@font-face {
    font-family: 'GumiIndustryTTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiIndustryTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 페이퍼로지 */
@font-face {
    font-family: 'Paperlogy-8ExtraBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

/* 여기어때 잘난체 */
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* 기본 스타일 */
body {
    background-color: #ffffff;
    font-family: 'PretendardGOV', Arial, sans-serif;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    
}


/* 폼 컨테이너 스타일 */
.write-container {
    max-width: 600px;  /* 컨테이너의 가로 너비를 줄임 */
    margin: 30px auto;  /* 폼을 중앙에 배치 */
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #333;
    margin-top:10px;
}

/* 폼 그룹 스타일 */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;  /* 포커스 효과 추가 */
    font-family: 'SUIT-Regular', sans-serif;
}

/* 포커스 시 입력 필드 테두리 색상 변경 */
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: #4CAF50;
    font-family: 'SUIT-Regular', sans-serif;
}

/* textarea 높이 유연하게 설정 */
 .form-group textarea {
    min-height: 300px;  /* 최소 높이 */
    max-height: 300px;  /* 최대 높이 */
    resize: vertical;
    font-family: 'SUIT-Regular', sans-serif;
}



/* 태그 입력 필드 및 태그 컨테이너 */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    font-family: 'SUIT-Regular', sans-serif;
}

.tag {
    background-color: #e2e2e2;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    
}

.tag .close {
    margin-left: 8px;
    cursor: pointer;
    font-size: 12px;
    color: red;
}

#tagsInput {
    border: none;
    outline: none;
    padding: 5px;
    flex-grow: 1;
    font-family: 'SUIT-Regular', sans-serif;
}

/* 파일 업로드 스타일 */
.file-upload-wrapper {
    display: inline-flex;
    align-items: center;
}

.file-upload-button {
    background-color: #A7F25C;
    color: green !important; /* 텍스트 색상을 흰색으로 강제 적용 */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* 파일 업로드 버튼 hover 효과 */
.file-upload-button:hover {
    background-color: #8FC940;
}

#file-name {
    margin-left: 10px;
    font-size: 16px;
    color: #333;
    white-space: nowrap; /* 텍스트가 줄바꿈 되지 않도록 설정 */
}

#imageUpload {
    display: none; /* 파일 선택 input 숨기기 */
}

/* 제출 버튼 및 파일 선택 버튼 스타일 */
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button, .back-button{
    width: 20%;
    padding: 10px 20px;
    background-color: #A7F25C;
    color: green;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 20px;
    font-family: 'SUIT-Regular', sans-serif;
}

.submit-button:hover {
    background-color: #8FC940;
}




@font-face {
    font-family: 'PretendardGOV';
    src: url('../fonts/PretendardGOVVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* tag-remove 버튼 스타일링 */
.tag-remove {
    cursor: pointer;  /* 마우스를 올리면 클릭 가능한 손 모양으로 변경 */
    color: red;       /* 제거 버튼 색상 */
    font-weight: bold;/* 제거 버튼 강조 */
    margin-left: 5px; /* 태그와 제거 버튼 사이 간격 */
}


