<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <!-- MyBatis에서 데이터 타입으로 사용할 객체들에 대한 별칭(alias) 정의 -->
  <typeAliases>
  	<typeAlias alias="M_MemberVO" type="com.human.web.vo.M_MemberVO"/>

  		 <!-- 게시글 VO -->
    <typeAlias alias="postVO" type="com.human.web.vo.PostVO"/>
    <!-- 댓글 VO -->
    <typeAlias alias="commentVO" type="com.human.web.vo.CommentVO"/>
    <!-- 좋아요 VO -->
    <typeAlias alias="likeVO" type="com.human.web.vo.LikeVO"/>
    
  	<typeAlias alias="MypageVO" type="com.human.web.vo.MypageVO"/>
  	
  	<typeAlias alias="TravelPostVO" type="com.human.web.vo.TravelPostVO"/>
  	
    <typeAlias alias="travelmediaVO" type="com.human.web.vo.TravelMediaVO"/>
    
    <typeAlias alias="tagInsertVO" type="com.human.web.vo.TagInsertVO"/>
    
    <!-- 희진 -->
    <typeAlias alias="ecVO" type="com.human.web.vo.EventsCommentsVO"/>
  	<typeAlias alias="eventRow" type="com.human.web.vo.SeoulEventApiVO$Row"/>
  	<typeAlias alias="SeoulMatzip" type="com.human.web.vo.SeoulMatzipApiVO$Row"/>
    <typeAlias alias="DaeEvent" type="com.human.web.vo.DaejeonEventApiVO$Item"/>
    <typeAlias alias="Damat" type="com.human.web.vo.DaejeonMatzipApiVO$Damat"/>
  	<typeAlias alias="smcVO" type="com.human.web.vo.SeoulMatzipCommentsVO" />
  	    
  	
  	
 </typeAliases>
 
 
</configuration>