<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.BannerPlaceMapper">

    <!-- 랜덤 배너 가져오기 -->
    <select id="getRandomBannerPlace" resultType="map">
    	SELECT contentid, title, firstimage, addr1, overview, mapx, mapy
        FROM bannerplace
        ORDER BY RAND()
        LIMIT #{limit}
    </select>

    <!-- contentid로 배너 정보 가져오기 -->
    <select id="getBannerById" resultType="map">
    	SELECT contentid, title, firstimage, addr1, overview, mapx, mapy, areacode
        FROM bannerplace
        WHERE contentid = #{contentid}
    </select>
    
	<select id="getBannerByAreaCode" resultType="map">
    	SELECT contentid, title, firstimage, areacode
    	FROM bannerplace
    	WHERE areacode = #{areacode}
    	ORDER BY RAND()
    	LIMIT 9
    </select>


</mapper>