<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.GoogleMapper">

    <insert id="insertGoogleLogin">
        INSERT INTO google_login (google_id, m_idx, google_name, create_at)
        VALUES (#{googleId}, #{mIdx}, #{googleName}, NOW())
        
    </insert>
</mapper>
