<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.M_MemberMapper">

	<!-- 아이디 중복검사   -->
   <select id="checkId" parameterType="string" resultType="int">
    SELECT COUNT(*) FROM m_member WHERE m_email = #{m_email}
</select>

	<!--닉네임 중복검사  -->
	<select id="checkNickname" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM m_member where m_nickname = #{m_nickname}
	</select>
 
    <!-- 회원 가입 -->
   <insert id="insertM_Member" parameterType="com.human.web.vo.M_MemberVO" useGeneratedKeys="true" keyProperty="m_idx" >
    INSERT INTO m_member (m_email, m_password, m_nickname)
    VALUES (#{m_email}, #{m_password}, #{m_nickname})
</insert>


	<!-- 로그인 -->
	<select id="login" parameterType="map" resultType="com.human.web.vo.M_MemberVO">
	
		select * from m_member
			where m_email=#{m_email}
			and m_password=#{m_password}
			and m_status='active'
	
	</select> 



</mapper>
