<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.MatzipMapper">

    <insert id="insertMatzip" parameterType="com.human.web.vo.MatzipVO">
		INSERT INTO s_matzip (title, addr1, overview, mapx, mapy, tel)
		VALUES (#{title}, #{addr1}, #{overview}, #{mapx}, #{mapy}, #{tel})
	</insert>

	<!-- 맛집 리스트 가져오기 -->
    <select id="getMatzipList" resultType="com.human.web.vo.MatzipVO">
        SELECT contentid, title, firstimage, addr1
        FROM s_matzip
    </select>
    
    <!-- MatzipMapper.xml -->
    <select id="getMatzipDetailById" parameterType="int" resultType="com.human.web.vo.MatzipVO">
	    SELECT contentid, title, firstimage, addr1, overview, mapx, mapy, tel
	    FROM s_matzip
	    WHERE contentid = #{contentid}
	</select>
    
</mapper>