<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.human.web.mapper.MypageMapper">
		 <!-- getMypageList: M_Mypage 테이블의 모든 데이터를 선택하는 쿼리 -->
		<select id="getMypageList" resultType="com.human.web.vo.MypageVO">
			select * from M_Mypage
		
		</select>


	</mapper>