<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.NaverLoginMapper">

    <!-- 네이버 로그인 정보 삽입 -->
    <insert id="insertNaverLogin">
        INSERT INTO NAVER_LOGIN (naver_id, m_idx, naver_name, naver_nickname, create_at)
        VALUES (#{naverId}, #{mIdx}, #{naverName}, #{naverNickname}, #{createAt})
    </insert>

    <!-- 네이버 ID로 사용자 정보 조회 -->
    <select id="getNaverLoginInfo" parameterType="string" resultType="com.human.web.vo.NaverLoginVO">
        SELECT * FROM NAVER_LOGIN WHERE naver_id = #{naverId}
    </select>

    <!-- 네이버 ID 중복 검사 -->
    <select id="checkNaverId" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM NAVER_LOGIN WHERE naver_id = #{naverId}
    </select>
</mapper>
