<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.human.web.mapper.TravelCommentMapper">

    <!-- 특정 여행기의 댓글 목록 조회 -->
    <select id="getCommentsByTravelPostId" resultType="com.human.web.vo.TravelCommentVO">
    SELECT comment_id AS commentId,
           tp_idx AS tpIdx,
           m_idx AS commentWriterId,
           comment_writer AS commentWriter,
           comment_content AS commentContent,
           comment_date AS commentDate
    FROM tb_travel_comment
    WHERE tp_idx = #{tpIdx}
    ORDER BY comment_date DESC
	</select>

    <insert id="insertTravelComment" parameterType="com.human.web.vo.TravelCommentVO">
    INSERT INTO tb_travel_comment (tp_idx, m_idx, comment_writer, comment_content, comment_date)
    VALUES (#{tpIdx}, #{m_idx}, #{commentWriter}, #{commentContent}, NOW())
</insert>

    <!-- 여행기 댓글 삭제 -->
    <delete id="deleteTravelComment" parameterType="int">
        DELETE FROM tb_travel_comment WHERE comment_id = #{commentId}
    </delete>
    
    <!-- 댓글 수정 -->
    <update id="updateTravelComment" parameterType="map">
        UPDATE tb_travel_comment
        SET comment_content = #{commentContent}, comment_date = NOW()
        WHERE comment_id = #{commentId}
    </update>
	
	<!-- 댓글 작성자의 ID를 조회 -->
	<select id="getCommentAuthorId" parameterType="int" resultType="int">
    SELECT m_idx 
    FROM tb_travel_comment 
    WHERE comment_id = #{commentId}
	</select>	
	
	
</mapper>
